:root {
  --couleur-principale: #f5f5dc;
  --couleur-secondaire: #333333;
  --couleur-hover: #cfcfc0;
  --couleur-diverse: #e0e0c8;
}

* {
  padding: 0;
  margin: 0;
  font-family: raleway;
  text-align: center;
  background-color: var(--couleur-principale);
}

@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: reveil;
  src: url(../fonts/Date\ Stamp.otf);
}

img {
  border-radius: 50%;
  width: 30px;
  padding: 20px;
  border: 2px solid var(--couleur-secondaire);
}

.test {
  width: auto;
}

.test:hover img {
  box-shadow: inset 100px 100px 0px var(--couleur-hover);
  transition: 1s;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--couleur-secondaire);
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--couleur-secondaire);
  padding: 20px;
  background-color: var(--couleur-principale);
  height: 10vh;
}

li:hover {
  background-color: var(--couleur-hover);
  transition: 1s;
}

a {
  text-decoration: none;
  width: 100%;
}

/*----------------- MAIN -----------------*/

h1 {
  margin-top: 30px;
  color: var(--couleur-secondaire);
  font-size: 2rem;
}

#calculatrice,
#calculatrice > * {
  background-color: var(--couleur-hover);
}

#calculatrice {
  width: 300px;
  height: 350px;
  display: grid;
  margin: 0 auto;
  gap: 10px;
  padding: 30px 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "c c c c"
    "a a po d"
    "seven eight nine mu"
    "four five six mo"
    "one two three p"
    "zzero v e e";
  border-radius: 15px;
  animation: parution 3s ease-in-out;
  margin-top: 20px;
  color: var(--couleur-secondaire);
  border: 2px solid var(--couleur-secondaire);
}

button {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--couleur-secondaire);
  background-color: var(--couleur-principale);
  border: 1px solid var(--couleur-secondaire);
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0 5px var(--couleur-secondaire);
  font-weight: bold;
}

button:hover {
  background-color: var(--couleur-hover);
  color: var(--couleur-principale);
}

button:active {
  box-shadow: 0 5px var(--couleur-hover);
  transform: translateY(4px);
}

.cadran {
  grid-area: c;
  width: 100%;
  height: 85%;
  background-color: var(--couleur-principale) !important;
  color: var(--couleur-secondaire);
  border: 3px double var(--couleur-secondaire);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  overflow: auto;
  font-weight: bold;
  font-family: reveil;
}

.foncer {
  background-color: var(--couleur-diverse);
}

.annule {
  grid-area: a;
}

.pourcentage {
  grid-area: po;
}

.division {
  grid-area: d;
}

.sept {
  grid-area: seven;
}

.huit {
  grid-area: eight;
}

.neuf {
  grid-area: nine;
}

.zero {
  grid-area: zzero;
}

.un {
  grid-area: one;
}

.deux {
  grid-area: two;
}

.trois {
  grid-area: three;
}

.quatre {
  grid-area: four;
}

.cinq {
  grid-area: five;
}

.six {
  grid-area: six;
}

.multiplication {
  grid-area: mu;
}

.moins {
  grid-area: mo;
}

.plus {
  grid-area: p;
}

.virgule {
  grid-area: v;
}

.egal {
  grid-area: e;
}

@media screen and (max-width: 950px) {
  .menu {
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  .menu li {
    height: 20px;
  }

  a {
    width: 50%;
  }

  img {
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
