:root {
  --couleur-principale: #f5f5dc;
  --couleur-secondaire: #333333;
  --couleur-hover: #cfcfc0;
  --couleur-diverse: #e0e0c8;
}

* {
  padding: 0;
  margin: 0;
  font-family: raleway;
  text-align: center;
  background-color: var(--couleur-principale);
}

@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: reveil;
  src: url(../fonts/Date\ Stamp.otf);
}

img {
  border-radius: 50%;
  width: 30px;
  padding: 20px;
  border: 2px solid var(--couleur-secondaire);
}

.test {
  width: auto;
}

.test:hover img {
  box-shadow: inset 100px 100px 0px var(--couleur-hover);
  transition: 1s;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--couleur-secondaire);
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--couleur-secondaire);
  padding: 20px;
  background-color: var(--couleur-principale);
  height: 10vh;
}

li:hover {
  background-color: var(--couleur-hover);
  transition: 1s;
}

a {
  text-decoration: none;
  width: 100%;
}

/*----------------- MAIN -----------------*/

h1 {
  margin-top: 20px;
  color: var(--couleur-secondaire);
  font-size: 2rem;
  margin-bottom: 10px;
}

h2 {
  color: var(--couleur-secondaire);
  margin: 20px 0;
}

button {
  display: inline-block;
  height: 40px;
  width: 120px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--couleur-secondaire);
  background-color: var(--couleur-diverse);
  border: 1px solid var(--couleur-secondaire);
  border-radius: 15px;
  font-size: 1em;
  box-shadow: 0 3px var(--couleur-secondaire);
  font-weight: bold;
}

button:hover {
  background-color: var(--couleur-hover);
}

#marge {
    margin-bottom: 40px;
}

button:active {
  box-shadow: 0 3px var(--couleur-principale);
  transform: translateY(4px);
}

input,
select {
  display: inline-block;
  color: var(--couleur-secondaire);
  font-size: 1em;
  text-align: center;
  padding: 5px;
  margin: 10px 0;
  background-color: var(--couleur-principale);
  border: 2px outset var(--couleur-secondaire);
  border-radius: 15px;
}

input:focus {
  font-weight: bold;
}

option {
  background-color: var(--couleur-principale);
}

.montant1,
.montant2 {
  width: 100px;
}

.altern {
  width: 80px;
}

label {
  display: inline-block;
  color: var(--couleur-secondaire);
  font-size: 1.2em;
  width: 150px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .menu {
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  .menu li {
    height: 20px;
  }

  a {
    width: 50%;
  }

  img {
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
