:root {
  --couleur-principale: #f5f5dc;
  --couleur-secondaire: #333333;
  --couleur-hover: #cfcfc0;
  --couleur-diverse: #e0e0c8;
}

* {
  padding: 0;
  margin: 0;
  font-family: raleway;
  text-align: center;
  background-color: var(--couleur-principale);
}

@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: reveil;
  src: url(../fonts/Date\ Stamp.otf);
}

img {
  border-radius: 50%;
  width: 30px;
  padding: 20px;
  border: 2px solid var(--couleur-secondaire);
}

.test {
  width: auto;
}

.test:hover img {
  box-shadow: inset 100px 100px 0px var(--couleur-hover);
  transition: 1s;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--couleur-secondaire);
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--couleur-secondaire);
  padding: 20px;
  background-color: var(--couleur-principale);
  height: 10vh;
}

li:hover {
  background-color: var(--couleur-hover);
  transition: 1s;
}

a {
  text-decoration: none;
  width: 100%;
}

/*----------------- MAIN -----------------*/

h1 {
  margin-top: 5px;
  color: var(--couleur-secondaire);
  font-size: 2rem;
  text-align: center;
}

table {
  margin: 20px auto;
  background-color: var(--couleur-diverse);
  border: 2px solid var(--couleur-secondaire);
}

input,
option,
select {
  text-align: center;
  height: 35px;
  color: var(--couleur-secondaire);
  background-color: var(--couleur-principale);
  border-radius: 15px;
  border: 2px solid var(--couleur-secondaire);
  font-size: 18px;
}

select {
  width: 150px;
}

input {
  width: 100px;
}

th {
  border-bottom: 1px solid var(--couleur-secondaire);
  padding: 5px;
  font-size: 18px;
  color: var(--couleur-secondaire);
  background-color: var(--couleur-diverse);
}

td {
  text-align: center;
  border-right: 1px solid var(--couleur-secondaire);
  padding: 5px;
  background-color: var(--couleur-diverse);
  font-size: 18px;
}

td:last-child {
  border-right: none;
}

.valider {
  color: var(--couleur-secondaire);
  border-radius: 15px;
  margin: 5px;
  width: 130px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 1px solid var(--couleur-secondaire);
  box-shadow: 0 5px var(--couleur-secondaire);
  font-weight: bold;
  font-size: 18px;
}

.valider:hover {
  background-color: var(--couleur-hover);
  color: var(--couleur-secondaire);
}

.valider:active {
  box-shadow: 0 5px var(--couleur-diverse);
  transform: translateY(4px);
}

.ht,
.tva,
.ttc {
  background-color: var(--couleur-principale);
  color: var(--couleur-secondaire);
  height: 20px;
  border-radius: 15px;
  border: 2px solid var(--couleur-secondaire);
}

@media screen and (max-width: 950px) {
  .menu {
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  .menu li {
    height: 20px;
  }

  a {
    width: 50%;
  }

  img {
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
